*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
 nav{
    display: flex;
    border: 1px solid rgb(218, 154, 207);
    justify-content: space-between;
    padding: 1%;
    background: rgb(236, 96, 210);
 }

    .hero1{
        border: 1px solid rgb(177, 123, 194);
        display: flex;
        align-items: center;
    }


    .hero-descricao{
        border: 3px solid rgb(192, 100, 242)   ;
        width: 50%;
        background: rgb(240, 124, 193);
    }

    .hero-imagem{
        border: 3px solid rgb(218, 120, 248);
        width: 50%;
        height: 500px;
        background: rgb(197, 106, 211);
    }
    .hero-cards{
        display: flex;
        border: 4px solid rgb(247, 165, 207);
     }
     .card{
        border: 1px solid rgb(199, 93, 141);
        background: rgb(203, 127, 185);
     }
    
     footer{
        border: 3px solid rgb(178, 121, 201);
        text-align: center;
     }